@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Truong Nguyen<br />
    16 Stirling Drive, Derrimut, 3030, VIC<br />
    <abbr title="Phone">P:</abbr>
    0403772024
</address>

<address>
    <strong>Support:</strong> <a href="mailto:samuraitruong@hotmail.com">samuraitruong@hotmail.com</a><br />
</address>
